<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         id="ac.soton.eventb.emf.diagrams.generator"
         point="ac.soton.eventb.emf.diagrams.generator.rule">
      <generator
            generatorID="ac.soton.eventb.emf.components.generator"
            name="Components Generator"
            root_source_class="Component"
            sourcePackage="http://soton.ac.uk/models/eventb/components/2014">           
         <rule
               name="RootComponentRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.RootComponentRule"
               source_class="Component">
         </rule>
         <rule
               name="ComponentRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.ComponentRule"
               source_class="Component">
         </rule> 
         <rule
               name="ChildComponentRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.ChildComponentRule"
               source_class="Component">
         </rule>
         <rule
               name="WakeQueueRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.WakeQueueRule"
               source_class="WakeQueue">
         </rule>         
         <rule
               name="ConnectorRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.ConnectorRule"
               source_class="Connector">
         </rule>
         <rule
               name="OperationRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.OperationRule"
               source_class="AbstractComponentOperation">
         </rule>
         <rule
               name="AutonomousOperationRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.AutonomousOperationRule"
               source_class="AbstractComponentOperation">
         </rule>
         <rule
               name="PortWakeRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.PortWakeRule"
               source_class="PortWake">
         </rule>        
         <rule
               name="SelfWakeRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.SelfWakeRule"
               source_class="SelfWake">
         </rule>
         <rule
               name="MethodRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.MethodRule"
               source_class="Method">
         </rule>
         <rule
               name="SynchronousStatemachineRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.SynchronousStatemachineRule"
               sourcePackage="http://soton.ac.uk/models/eventb/statemachines/2014"
               source_class="Statemachine">
         </rule>
         <rule
               name="SynchronousStatemachineTransitionGuardRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.SynchronousStatemachineTransitionGuardRule"
               sourcePackage="http://soton.ac.uk/models/eventb/statemachines/2014"
               source_class="Transition">
         </rule>
         <rule
               name="SynchronousStatemachineTransitionActionRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.SynchronousStatemachineTransitionActionRule"
               sourcePackage="http://soton.ac.uk/models/eventb/statemachines/2014"
               source_class="Transition">
         </rule>
         <rule
               name="SynchronousStatemachineInitialTransitionRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.SynchronousStatemachineInitialTransitionRule"
               sourcePackage="http://soton.ac.uk/models/eventb/statemachines/2014"
               source_class="Transition">
         </rule>
         <rule
               name="SynchronousStatemachineFinalTransitionRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.SynchronousStatemachineFinalTransitionRule"
               sourcePackage="http://soton.ac.uk/models/eventb/statemachines/2014"
               source_class="Transition">
         </rule>
         <rule
               name="ProcessStatemachineRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.ProcessStatemachineRule"
               sourcePackage="http://soton.ac.uk/models/eventb/statemachines/2014"
               source_class="Statemachine">
         </rule>
         <rule
               name="ProcessStatemachineTransitionGuardRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.ProcessStatemachineTransitionGuardRule"
               sourcePackage="http://soton.ac.uk/models/eventb/statemachines/2014"
               source_class="Transition">
         </rule>
         <rule
               name="ProcessStatemachineInitialTransitionRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.ProcessStatemachineInitialTransitionRule"
               sourcePackage="http://soton.ac.uk/models/eventb/statemachines/2014"
               source_class="Transition">
         </rule>
         <rule
               name="ProcessStatemachineFinalTransitionRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.ProcessStatemachineFinalTransitionRule"
               sourcePackage="http://soton.ac.uk/models/eventb/statemachines/2014"
               source_class="Transition">
         </rule>
         <rule
               name="PortWake_ConditionallyResetOtherFlagsRule"
               rule_class="ac.soton.eventb.emf.components.generator.rules.PortWake_ConditionallyResetOtherFlagsRule"
               source_class="PortWake">
         </rule>
      </generator>
   </extension>
   <extension
         point="ac.soton.eventb.emf.diagrams.validator">
      <validator
            editorClass="ac.soton.eventb.emf.components.diagram.part.ComponentsDiagramEditor"
            name="Component diagram validator"
            validatorClass="ac.soton.eventb.emf.components.generator.validator.Validator">
      </validator>
   </extension>
   
</plugin>
