<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    (c) Crown owned copyright (2017) (UK Ministry of Defence)
   
    All rights reserved. This program and the accompanying materials are 
    made available under the terms of the Eclipse Public License v1.0 which
    accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
         University of Southampton - Initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.emf.components.navigator.commands.addComponent"
               icon="icons/NewComponent.gif"
               label="Add Component"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eventb.core.IMachineRoot">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ac.soton.eventb.emf.components.navigator.actions.AddComponentHandler"
            id="ac.soton.eventb.emf.components.navigator.commands.addComponent"
            name="Add Component">
      </command>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.adapterFactories">
      <factory
            class="ac.soton.eventb.emf.components.provider.ComponentsItemProviderAdapterFactory"></factory>
   </extension>
   <extension
         point="ac.soton.eventb.emf.diagrams.navigator.diagramProviders">
      <provider
            class="ac.soton.eventb.emf.components.navigator.providers.ComponentDiagramProvider"
            type="Component">
      </provider>
   </extension>
   <extension
         point="org.rodinp.core.refinements">
      <Participant
            class="ac.soton.eventb.emf.components.navigator.refiner.ComponentRefiner"
            id="componentRefiner"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.elementRefinement">
      <refinementDefinition
            refiner_class="ac.soton.eventb.emf.components.navigator.refiner.ComponentElementRefiner"
            ePackage="http://soton.ac.uk/models/eventb/components/2016">
      </refinementDefinition>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.emfFileExtensions">
      <model
            extension="cmp">
      </model>
   </extension>

</plugin>
