<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
     (c) Crown owned copyright 2011, 2017 (UK Ministry of Defence)
     
     All rights reserved. This program and the accompanying materials  are 
     made available under the terms of the Eclipse Public License v1.0 which
     accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
     
     This is to identify the UK Ministry of Defence as owners along with the
      license rights provided.
     
     Contributors:
     			University of Southampton - Initial implementation
 -->

<plugin>

   <extension
         point="org.eventb.emf.persistence.synchroniser">
      <emfPackage
            name="Components Package"
            nsURI="http://soton.ac.uk/models/eventb/components/2016">
         <synchroniser
               emf_class="Component"
               name="Component Synchroniser"
               rodin_id="ac.soton.eventb.emf.core.extension.persistence.serialisedExtension"
               synchroniser_class="ac.soton.eventb.emf.core.extension.persistence.SerialisedExtensionSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="Connector"
               name="Connector Synchroniser"
               rodin_id="ac.soton.eventb.emf.core.extension.persistence.serialisedExtension"
               synchroniser_class="ac.soton.eventb.emf.core.extension.persistence.SerialisedExtensionSynchroniser">
         </synchroniser>
      </emfPackage>
   </extension>

</plugin>
